{
  "plugins": ["prettier-plugin-tailwind"],
  "tailwindcss.sortOrder": "asc",
  "tailwindcss.purgeLayersByDefault": true,
  "tailwindcss.purge": {
    "content": ["./index.html", "./src/**/*.{js,jsx,ts,tsx}"]
  }
}
